body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main.container {
  margin-top: 7em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  margin-right: 1em !important;
  margin-left: 1em !important;
}

.auth_buttons .button {
  font-weight: bold !important;
  margin-left: 0.5em !important;
}

.masthead-main {
  background-image: url('/assets/img/head/home_placeholder.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-main > .menu {
  border: 0px !important;
}