body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main.container {
  padding: 0em 6em;
  margin-top: 7em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  margin-right: 1em !important;
  margin-left: 1em !important;
}

.auth_buttons .button {
  font-weight: bold !important;
  margin-left: 0.5em !important;
}

.masthead-main {
  background-image: url('/assets/img/head/home_placeholder.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-main > .menu {
  border: 0px !important;
}

.nav_logo {
  border: 0px !important;
}

.dropzone {
  width: 200px;
  height: 200px;
  border: 2px dashed #545454;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}

.dropzone--isActive {
  border: 2px dashed #21ba45;
  box-shadow: 2px 2px 2px gainsboro;
  color: #21ba45 !important;
}

.dropzone--isActive.ui.header {
  color: #21ba45 !important;
}

.dropzone--preview--image {
  min-height: '200px' !important;
  min-width: '200px' !important; 
  display: 'cover' !important; 
}

.evenImage image {
  object-fit: cover !important;

}